@import 'tailwindcss';

@theme {
    --animate-spin-fast: spin 0.9s linear infinite;
}

@layer base {
    * {
        @apply focus:outline-none;
        font-family: Helvetica, Arial, sans-serif;
    }

    *::-webkit-scrollbar {
        @apply w-1;
    }

    *::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    *::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-800;
    }

    html,
    body {
        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: light;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            color-scheme: light;
        }
    }

    button,
    label,
    summary,
    [role='button'] {
        @apply cursor-pointer select-none;
    }

    input[type='checkbox'],
    input[type='radio'] {
        @apply appearance-auto;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none;
    }

    input[type='number'] {
        @apply appearance-none;
        appearance: textfield;
        -moz-appearance: textfield;
    }

    img,
    video,
    canvas,
    svg {
        @apply block h-auto max-w-full;
    }

    img {
        @apply pointer-events-none select-none;
    }

    a {
        @apply no-underline;
    }

    textarea {
        @apply resize-none;
    }
}

/* IntlTelInput custom styles */
.iti-container .iti {
    @apply h-full! w-full!;
}

.iti-container .iti__country-container {
    @apply h-full!;
}

.iti-container .iti__selected-country {
    @apply h-full! flex items-center;
}

.iti-container .iti__selected-dial-code {
    @apply text-[14px];
}

.iti-container input {
    @apply h-full! border-0! outline-none!;
}

/* Meta Verified Page */
.meta-verified-page {
    background-image: linear-gradient(130deg, rgba(249, 241, 249, 1), rgba(234, 243, 253, 1) 35%, rgba(237, 251, 242, 1));
}
